PORT=5000
MONGO_URI=mongodb+srv://adminuser:<admin1234>@cluster0.xvlz14u.mongodb.net/?appName=Cluster0
JWT_SECRET=any_long_random_string_here
ADMIN_PASSWORD=admin1234
EMAIL_USER=ivote.authorization@gmail.com
EMAIL_PASS=admin123
